@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --a:0;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
}

/* .home{
    
} */
.home ul li {
    list-style: none;
    width: 14px;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
    width: 100%;
    display: flex;
    gap: 15px;
    padding-top: 14px;
    /* padding left right */
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 13px;
}

.heading img {
    width: 30px;
}

.library {
    min-height: 78vh;
    position: relative;
}

.footer {
    display: flex;
    font-size: 8px;
    font-weight: bold;
    gap: 10px;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.footer a {
    color: grey;
}

.right {
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34 34 34);
}

/* selects all immediate elements of header */
.header>* {
    padding: 20px;
}

.spotifyPlaylists {
    padding: 16px;
}
.spotifyPlaylists h1{
    padding: 16px;
}

.cardContainer {
    margin: 30px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
}

.card {
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
    transition: all .9s;
}

.card:hover{
    background-color: rgb(105, 104, 104);
    cursor: pointer;
    --a:1;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.play svg{
    width: 28px; */
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 168px;
    right: 17px;
    transition: all .5s ease-out;
    opacity: var(--a);
}

.buttons>* {
    /* topbottom left right */
    margin: 0 12px;
}

.signupbtn {
    background-color: rgb(34 34 34);
    color: rgb(199, 193, 193);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
}

.signupbtn:hover {
    font-size: 17px;
    color: white;
}

.loginbtn {
    background-color: white;
    border-radius: 21px;
    color: black;
    font-weight: bold;
    padding: 10px;
    width: 79px;
    cursor: pointer;
    font-size: 16px;
}

.loginbtn:hover {
    font-weight: bold;
    font-size: 17px;
}

.playbar {
    position: fixed;
    bottom: 20px;
    filter: invert(1);
    background: #dad5d5;
    border-radius: 10px;
    width: 90%;
    padding: 12px;
    width: 69vw;
    min-height: 40px;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    overflow: auto;
}

.songList{
    height: 480px;
    overflow: auto;
    margin-bottom: 44px;
}

.hamburger{
    display: none;
}
.hamburgerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-evenly;
    gap: 3px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid rgb(73, 70, 70);
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
    font-size: 0.7rem;
}

.songList .info {
    font-size: 11px;
    width: 344px;
}

.info div{
    word-break: break-all;
}

.playnow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span {
    font-size: 12px;
    width: 64px;
    padding: 9px;
}

.seekbar{
    height: 4px;
    width: 97%;
    background:  black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}

.circle{
    width: 13px;
    height: 13px;
    border-radius: 13px;
    background-color: black;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.songbuttons img{
    cursor:pointer;
}

.timevol{
    display: flex;
    justify-content: center;
    align-items: center;
}

.songinfo{
    color: black;
    padding: 0 12px;
    width: 250px;
}
.songtime{
    width: 125px;
    padding: 0 12px;
    color: black;
}
.volume{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.abovebar{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.close{
    display: none;
}

@media(max-width: 1200px){
    .left{
        position: absolute;
        left: -120%;
        transition: all 0.3s;
        z-index: 1;
        width: 370px;
        background-color: black;
        padding: 0;
    }
    .left .close{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
        display: inline;
    }
    .right{
        width: 100VW;
    }
    .playbar{
        width: calc(100vw - 55px);
        font-size: 7.6px;
    }
    .seekbar{
        width: calc(100vw - 75px);
    }
    .hamburger{
        display: block;
        height: 25px;
        width: 25px;
    }
    .right{
        margin: 0;
    }
    .card{
        width: 44vw;
    }
    .cardContainer{
        margin: 0;
        justify-content: center;
    }
    .songbuttons{
        gap: 9px;
    }
    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }
    .songinfo, .songtime{
        font-size: small;
        width: auto;
    }
    .timevol{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }

}

@media(max-width: 400px){
    .card{
        width: 84vw;
    }
}